.searchBar {
  width: 300px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  padding-left: 20px;
  color: white;
  font-size: 18px;
  border: none;
  background-color: transparent;
  /* border: 1px solid white; */
  border: 1px solid black;
  margin-bottom: 10px;
}

.searchBar::placeholder {
  color: rgb(1, 0, 0);
}

.searchBar:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.searchBar:focus {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.searchBar:focus::placeholder {
  color: rgba(255, 255, 255, 0.769);
}

.sticky {
  position: sticky;
  z-index: 200;
  top: 0px;
}