.profilePicture {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  cursor: pointer;
}

.brandName {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.sidePanelContainer {
  display: flex;
  height: 60px;
  width: 310px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.composeBtn {
  width: 45px;
  height: 45px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.composeBtn > svg {
  font-size: 1.5em;
  padding-left: 3px;
}

/* svg {
  height: 2em;
} */