.App {
  text-align: center;
  /* background-color: #1f2024; */
  background-color: #1a1b23;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1.5fr 3.5fr; */
  grid-template-columns: minmax(350px, 350px) 3.5fr;
}

.side-navigation {
  /* background-color: #2f3241; */
  background-color: rgb(50, 51, 52);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
